# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Introduce arithmetic expression examples in Python.
- Create tables and lists in Markdown.
- Convert units (e.g., minutes to hours) using Python.

Some of the popular languages that Data Scientists use are: 
1. python
2. SQL
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [20]:
hours=200/60

In [22]:
hours

3.3333333333333335

## Author

Robel Avraham